
<div class="nom-holder" > 
  <div class="container mt-2">
      <div class="row">
          <div class="col-md-2">
           <img src=<%=current_user.image_link %> alt="Profile Picture" class="nom-image">
          </div>
         <div class="col-md-10">
          <h2><%= current_user.full_name%></h2>
         </div>
      </div>
      <div class="row">
            <div class="col-md-3">
              
            </div>
            <div class="col-md-3">
              <p>Nominations Sent:<%= current_user.stat.noms_sent%></p>
            </div>
            <div class="col-md-3">
              <p>Nominations Received:<%= current_user.stat.noms_received%></p>
            </div>
            <div class="col-md-3">
              <p>MVP Wins:<%= current_user.stat.mvp_wins%></p>
            </div>
      </div>
  </div>
</div>


<div class="nom-holder" > 
      <div class="container mt-2">
      <h4> Here is what people have been saying about <%= current_user.first_name %> </h4>
    </div>
</div>

<% current_user.nomination.each do |nomination| %>
    <div class="nom-holder" > 
    <div class="container mt-2">
    <div class="row">
      <div class="col-md-2">
      <% if nomination.nom_type == "mvp"%>
        <img src="https://www.creativefabrica.com/wp-content/uploads/2022/11/10/MVP-gold-medal-award-on-white-background-Graphics-45934671-1-1-580x387.jpg" alt="Profile Picture" class="nom-type-image">
        <% else %>
        <img src="https://renegade-promotions.com/wp-content/uploads/2021/05/148-1485119_shout-out-png-download-shout-out-transparent-png.png" alt="Profile Picture" class="nom-type-image">
        <% end %>
       
      </div>
      <div class="col-md-8">
        <h2><%= nomination.receiver_name %></h2>
        <p><%= nomination.nom_body %></p>
      </div>
      <div class="col-md-2">
      
      </div>
    </div>
  </div>
    </div>
  <% end %>
