
<div class="nom-holder" > 
  <div class="container mt-2">
      <div class="row">
          <div class="col-md-2">
          <div id="profile-image-bg" class="image-bg-holder">
             <img src=<%=current_user.image_link %> alt="Profile Picture" class="nom-image">
           </div>
          </div>
         <div class="col-md-10">
          <h2><%= current_user.full_name%></h2>
          <%= link_to 'Edit', edit_user_path(current_user) %>
          <% if current_user.admin %>
            <p>Account Type: Admin</p>
          <% end %>
         </div>
      </div>
      <div>
        <br>
      </div>
      <div class="row">
            <div class="col-md-3">
              <h6>MVP Nom Sent This Week: <%= current_user.mvp_sent ? "yes" : "no" %></h6>
            </div>
            <div class="col-md-3">
              <h6>Nominations Sent:<%= current_user.stat.noms_sent%></h6p>
            </div>
            <div class="col-md-3">
              <h6>Nominations Received:<%= current_user.stat.noms_received%></h6>
            </div>
            <div class="col-md-3">
              <h6>MVP Wins:<%= current_user.stat.mvp_wins%></h6>
            </div>
      </div>
  </div>
</div>

<div class="nom-holder">
<div class="container-fluid">
<div class="ach_holder">
  <h4 style="color: '#fff;'"> < Achievements ></h4>
  <div class="row flex-nowrap overflow-auto">
    <% Achievemnet.all.each do |a| %>
      <% if current_user.achievements.include? a.id %>
      <div class="col-sm-3">
          <div class="achievement" style="background-image: url('<%= a.image_link %>');"><%= a.title %></div>
      </div>
      <% else %>
      <div class="col-sm-3">
          <div class="achievement" style="background-image: url('https://magnawaveportal.com/wp-content/uploads/2024/03/achievement_empty.webp');"><%= a.title %></div>
      </div>
      <% end %>

    <% end %>
  </div>
  </div>
</div>
</div>

<div class="nom-holder" > 
      <div class="container mt-2">
      <h4> Here is what people have been saying about <%= current_user.first_name %> </h4>
    </div>
</div>

<% current_user.nomination.each do |nomination| %>
    <div class="nom-holder" > 
    <div class="container mt-2">
    <div class="row">
      <div class="col-md-2">
      <% if nomination.nom_type == "mvp"%>
        <img src="https://www.creativefabrica.com/wp-content/uploads/2022/11/10/MVP-gold-medal-award-on-white-background-Graphics-45934671-1-1-580x387.jpg" alt="Profile Picture" class="nom-type-image">
        <% else %>
        <img src="https://renegade-promotions.com/wp-content/uploads/2021/05/148-1485119_shout-out-png-download-shout-out-transparent-png.png" alt="Profile Picture" class="nom-type-image">
        <% end %>
       
      </div>
      <div class="col-md-8">
        <h4><%= nomination.nom_body %></h4>
      </div>
      <div class="col-md-2">
      
      </div>
    </div>
  </div>
    </div>
  <% end %>
