<% usersArray =  User.where.not(id: current_user.id).order('last_name') %>
<% nonAdmins = usersArray.select {|user| !user["admin"]} %>

<script>
      $(function() {
          // Initializes and creates emoji set from sprite sheet
          window.emojiPicker = new EmojiPicker({
              emojiable_selector: '[data-emojiable=true]',
              assetsPath: 'http://onesignal.github.io/emoji-picker/lib/img/',
              popupButtonClasses: 'fa fa-smile-o'
          });

          window.emojiPicker.discover();
      });
</script>

<%= form_with(model: nomination) do |form| %>
  <% if nomination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nomination.errors.count, "error") %> prohibited this nomination from being saved:</h2>

      <ul>
        <% nomination.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Nomination Type" %>
    <%= form.select(:nom_type, [ ['MVP Nomination', 'mvp'],['Shout Out', 'shoutout'] ], :prompt => 'Select One', :class =>'form-select') %>
  </div>


  <div class="field ">
    <%= form.label "Who are you nominating" %>
    <%= form.select(:user_id, nonAdmins.collect { |user| [user.first_name + " " + user.last_name, user.id] }) %>
  </div>

  <div class="field">
    <%= form.label "Say something nice:" %>
    <p class="emoji-picker-container">
      <%= form.text_field :nom_body, data: { emojiable: true } %>
    </p>
  </div>
 
  <div class="actions">
    <div class="btn-holder">
      <%= form.submit class: "create-button" %>
    </div>
  </div>
<% end %>


