<%= form_with(model: nomination) do |form| %>
  <% if nomination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nomination.errors.count, "error") %> prohibited this nomination from being saved:</h2>

      <ul>
        <% nomination.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Nomination Type" %>
    <%= form.select(:nom_type, [ ['MVP Nomination', 'mvp'],['Shout Out', 'shoutout'] ], :prompt => 'Select One', :class =>'form-select') %>
  </div>


  <div class="field">
    <%= form.label "Who are you nominating" %>
    <%= form.select(:user_id, User.where.not(id: current_user.id).order('last_name').collect { |user| [user.first_name + " " + user.last_name, user.id] }) %>
  </div>

  <div class="field">
    <%= form.label "Say something nice:" %>
    <%= form.text_field :nom_body %>
  </div>

  
 
  <div class="actions">
    <div class="btn-holder">
      <%= form.submit class: "create-button" %>
    </div>
  </div>
<% end %>
